<div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">
      <!-- /Left Text -->
      <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-3">
        <div class="w-900 d-flex justify-content-center">
          <img
            src="assets\images\logos\girl-doing-yoga-light.png"
            class="img-fluid"
            alt="Login image"
            width="700"
            data-app-dark-img="illustrations/girl-with-laptop-dark.png"
            data-app-light-img="illustrations/girl-with-laptop-light.png"
          />
        </div>
      </div>
      <!-- /Left Text -->
      <!-- Register -->
      <div
        class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg"
      >
        <div class="w-px-400 mx-auto">
          <!-- Logo -->
          <div class="d-flex justify-content-center ">
            <a href="index.html" class="logo  align-items-center w-auto">
              <img src="\assets\images\logos\aclogo.png" alt="" style="height: 56px;">
              <span class="app-brand-text demo text-body fw-bold m-2">AC Service</span>
            </a>
          </div>
          <!-- /Logo -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="text-bold">
                <h5 class="card-title text-center pb-0 fs-4">OTP Registration</h5>
                <p class="text-center small">Enter your personal details to create account</p>
              </div>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail4">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                 </div>
                  <label for="floatingInput">Email </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="floatingInput" placeholder="878979990" formControlName="contactnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactnumber.errors }"  id="inputEmail4">
                  <div *ngIf="submitted && f.contactnumber.errors" class="invalid-feedback">
                    <div *ngIf="f.contactnumber.errors.required">Mobile Number is required</div>
                    <div *ngIf="f.contactnumber.errors.email">Mobile Number must be a valid Mobile Number address</div>
                 </div>
                  <label for="floatingInput">Contact Number </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                 </div>
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" formControlName="acceptTerms" type="checkbox" value="" id="rememberPasswordCheck"  class="form-check-input"
                  [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }">
                  <label for="acceptTerms" class="form-check-label"
                  >I have read and agree to the Terms</label
                >
                <div
                  *ngIf="submitted && f['acceptTerms'].errors"
                  class="invalid-feedback"
                >
                  Accept Terms is required
                </div>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Register</button>
                  <!-- <div class="text-center">
                    <a class="small" routerLink="/">Back to Login</a>
                  </div> -->
                </div>

              </form>

            </div>
          </div>

          <p class="text-center">
            <span>Already have an account?</span>
            <a routerLink="/">
              <span>Sign in instead</span>
            </a>
          </p>


        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
